<div class="wrapper">
<h2>Create booking</h2>
<%= simple_form_for [@boat, @booking] do |f| %>
    <%= f.error :base, :class => "booking-error" %>
  <div class="form-inputs-date">
    <%= f.input :start_date %>
    <%= f.input :end_date %>
  </div>
  <div class="button-container">
    <div class="form-actions">
      <%= f.button :submit, :class => "booking-submit" %>
    </div>
  <% end %>
  </div>
</div>
