<div class="container">
  <div class="d-flex justify-content-around">
    <div class="user-info text-center">
      <%# if @user.photo? %>
        <%#= cl_image_tag @user.photo, class: "avatar-large", crop: :fill %>
        <%# else %>
        <%= link_to edit_user_registration_path do %>
            <%= image_tag('user.png', class: "avatar-dashboard") %>
        <% end %>
      <p><%= @user.first_name %> <%= @user.last_name %><p>
      <p><%= @user.email %><p>
      <div class="user-boats">
      <h3>My boats</h3>
        <% @user.boats.each do |boat| %>
          <%= boat.name %>
        <% end %>
      </div>
      <div class="requests-window">
        <% if @booking_requests.any? %>
          <h5>Pending booking requests</h5>
          <% @booking_requests.each do |booking| %>
            <div class="booking-requests">
              <% if (booking.status != "accepted" && booking.status != "rejected") %>
                <p id="boat-name"><%= "#{booking.boat.name}" %></p>
                <p><%= "#{booking.start_date} - #{booking.end_date}" %></p>
                <div class="bookings-button">
                  <div id="accept-button">
                    <%= link_to "Accept", booking_path(booking, query: "accept"), method: :patch %>
                  </div>
                  <div id="reject-button">
                    <%= link_to "Reject", booking_path(booking, query: "reject"), method: :patch %>
                  </div>
                </div>
              <% else %>
                <div></div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
<!--       pop-up window with pending bookings, when @ooking.save in bookings_controller
  => display @boat.name + @booking.start_date / @booking.end_date here

  on bookings_details view:
  @user.details of the user that @booked
  @booking.start_date / end_date
  button the accept / reject
  => when button clicked, default status of @booking changes
  => status will be displayed in the dashboard for the @boat.user and @booking.user
 -->
    </div>
    <div class="user-bookings">
      <h2>Hello, <strong><%= @user.first_name %></strong> ! </h2>
      <h3>Here are your bookings:</h3>
      <% @bookings.each do |booking| %>
    <div class="card-dashboard">
      <div class="trip-info">
        <p>BOAT: <%= booking.boat.name %></p>
        <p>DEPARTURE FROM: <%= booking.boat.location %></p>
        <p>DATE: <%= booking.start_date.strftime("%d %B %Y") %> - <%= booking.end_date.strftime("%d %B %Y") %></p>
        <p>STATUS: <%= booking.status %></p>
      </div>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    </div>
    <% end %>
    </div>
  </div>
</div>
