<div class="container">
  <div class="index-container">
  <div class="title-and-button d-flex align-items-center justify-content-between">
    <div>
      <h4><%= pluralize(@boats.count, 'boat') %></h4>
    </div>
    <div class="btn btn-new-index">
      <%= link_to "Create listing", new_boat_path, class:"btn-new-index-link" %>
    </div>
  </div>
  <div class="cards my-5">
    <% @boats.each do |boat| %>
      <div class="card-trip">
        <!-- <img src="https://static.wixstatic.com/media/420204_f07b4bf2578942758550d87fc74247e7~mv2_d_3072_2302_s_2.jpg/v1/fill/w_620,h_375,al_c,q_80,usm_0.66_1.00_0.01/org_1b27a7e1e950c098_1558005910000-02_jp.webp" /> -->
        <%= cl_image_tag boat.photos.first.key %>
        <div class="p-3">
          <div class="d-flex justify-content-between mb-2">
            <h5 class="boat-name-text"><%= link_to "#{boat.name}", boat_path(boat), class:'boat-name' %></h5>
            <div><i class="fas fa-map-marker-alt"></i> <%= boat.location %></div>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <h6><i class="fas fa-ship"></i><%= boat.boat_type %></h6>
            <h6><i class="fas fa-user-friends mb-1"></i> <%= boat.capacity %> guests</h6>
            <h6><%= boat.price.round %>€ / day</h6>
          </div>
           <div class="bookmark">
             <a href="#"><i class="fas fa-star"></i></a>
           </div>
        </div>
      </div>
    <% end %>
  </div>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
   </div>
</div>
