<div class="container">
  <h2 id="listing-name"><%= @boat.name %></h2>
  <div class="basic-info">
    <p class="boat-info">
      <%= @boat.capacity %> persons
    </p>
    <p class="boat-info">
      <%= @boat.size %> m
    </p>
  </div>
  <div class="boat-description">
    <h3>About the <%= @boat.boat_type %> of <%= @boat.user.first_name %></h3>
  </div>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
